* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Flama Light', sans-serif;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 999;
    padding-top: 60px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    text-align: center;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
        margin-top: 15px;
}

.sidebar ul li a:hover {
    background-color: #1b1a1a;
}

.content {
    margin-left: 20px;
    padding: 16px;
}

.sidebar-active {
    left: 0;
}

.logo {
    width: 80px;
    margin-top: 15px;

}

.header {
    background-image: url("../imagens/istockphoto-1743632673-612x612.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 900px;
}

.header h1 {
    margin-bottom: 380px;
    text-transform: uppercase;
    font-size: 80px;
}
.cardapio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    height: 100px;
    background-color: #000000;
    
}
.cardapio li a{
    color: #ffffff;

    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
}
.prato {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.prato img {
    box-sizing: border-box;
    width: 300px;
    height: 250px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin-top: 20px;
    /* Reduzi a margem superior */
    margin-bottom: 0;
    /* Adicione isso para remover a margem inferior, se necessário */
}

.prato img:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.prato img {
    transform: scale(0.95) rotateZ(1.7deg);
}

.tudo {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 40px;
}

.casa h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 70px;
    font-size: 60px;
}

.casa h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.casa p {
    font-size: 20px;
    margin-bottom: 20px;
}

.casa h3 {
    font-size: 25px;
}
.footer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcf7f8a8;
}


